.vis.timeline .vis_item_relay_event {
    color: black;
    background-color: rgba(31, 141, 255, 0.5);
    border-color: #1f8dff;
}

.vis.timeline .item {
    padding: 0px;
    color: black;
    background-color: rgba(31, 141, 255, 0.5);
    border-color: #1f8dff;
}

.vis.timeline .item.selected {
    font-weight: bold;
    color: white;
    background-color: #1f8dff;
    border-color: #1f8dff;
}

.vis.timeline .item.range, .vis.timeline .item.rangeoverflow {
    height: 21px;
    top: 5px !important;
    bottom: 5px !important;
}

.vis.timeline .item.range .content {
    height: 21px;
    line-height: 21px;
}

.vis.timeline .labelset .vlabel .inner {
    padding: 0px;
}

.vis.timeline .labelset .vlabel .inner > button {
    padding: 4px 4px 4px 4px;
    text-align: right;
    width: 90px;
}

.vis.timeline .foreground > .vis_group_disabled > div {
    text-shadow: 0px 0px 3px #1A1A1A;      
    opacity: 0.3;
}

.vis.timeline .vispanel.center,
.vis.timeline .vispanel.top,
.vis.timeline .vispanel.bottom {
  border-right-style: none;
}
