#feeding_table .editable {
    background: #cec;
}

#feeding_table button {
    text-align: right;
    padding: 4px;
    width: 65px;
}

#feeding_table td {
    padding: 0;
    vertical-align: middle;
}