.knob_label_center {
  margin:0 auto;
  margin-top: -55px;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
}

.knob_label_below {
  margin: 5px;
  color: white;
  background: #1f8dff;
  border-radius: 5px;
}

#imrelay_knob_row > div > div canvas {
    margin-top: 15px;
}

#imrelay_knob_row {
    padding-right: 15px;
    padding-left: 15px;
}

#imrelay_knob_row > div {
    padding-right: 0;
    padding-left: 0;
}

#imrelay_knob_row > div > div,
#relay_radiobutton_chooser > div {
    padding-right: 0;
    padding-left: 0;
}

input[name=event_relay] {
    width: 1.5em;
    height: 1.5em;
}

.radio_button_group {
    display: inline-block;
    text-align: center;
}
.radio_button_group label {
    display: block;
    font-weight: normal;
}
