#feeding_table button,
#event_table button {
    width: 65px;
}

#feeding_table button {
    text-align: right;
    padding: 4px;
}

#feeding_table th,
#event_table th {
    text-align: center;
}

#feeding_table td,
#event_table td {
    padding: 0;
    vertical-align: middle;
}