#feeding_table .editable,
#event_table .editable {
    background: rgba(31,141,255, 0.1);
}

#feeding_table button {
    text-align: right;
    padding: 4px;
    width: 65px;
}

#feeding_table th {
    text-align: center;
}

#feeding_table td {
    padding: 0;
    vertical-align: middle;
}
