@font-face {
    font-family: 'Syncopate';
    src: url('../fonts/Syncopate-Bold.ttf');
    src: url('../fonts/Syncopate-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('../fonts/AnonymousPro-Bold.ttf');
    src: url('../fonts/AnonymousPro-Bold.ttf') format('truetype');
}

.user-panel > .lda_svg_logo > svg {
    margin-left: 10px;
}

.user-header > .lda_svg_logo > svg {
    margin-top: 20px;
}

svg > path {
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg > .fish {
    fill: #dddddd;
    stroke: #888888;
    stroke-width: 3;
}

svg > .signal {
    fill: none;
    stroke: #1f8dff;
    stroke-width: 5;
}

svg > text {
    fill: #1f8dff;
}

svg > .lda {
    font-size: 150px;
    font-family: Syncopate;
}

svg > .lda_nonabbrv {
    font-size: 32px;
    font-family: Anonymous Pro;
}